body{
    font-family: 'Arial';
}

#logo_you, #logo_stat{
    font-size: 72px;
    letter-spacing: 5px;
}

#logo_stat{
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

#input_channel, #btn_submit, #btn_accurate{
    height: 50px;
    vertical-align: middle;
}

#input_channel{
    padding: 0px 5px;
    font-size: 18px;
    width: 30%;
    min-width: 300px;
}

#btn_submit, #btn_accurate{
    padding: 0px 14px;
}

#result font{
    width: calc(30% + 55px);
    min-width: 300px;
    display: table-caption;
    text-align: left;
}

#result table{
    border-collapse: collapse;
    min-width:355px;
    width:40%;
    font-size: 30px;
    text-align: center;
}

#result table td{
    padding: 7px;
}

#result .search_result a{
  color: blue;
  margin-bottom: 5px;
  border-radius: 40px;
}

#result .thumbnail, #result .content{
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

#result .thumbnail{
    background-color: whitesmoke;
    width: 320px;
    height: 180px;
}
